@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "ListRoles";
}
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService _authorizationService

<h1>All Roles</h1>

<div>
    <a class="btn btn-primary" asp-controller="Administration" asp-action="CreateRole"> Add New Role</a>
</div>
<hr />

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th class="m-1">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th class="m-1">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="m-1">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="m-1">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <div>
                            <form asp-action="DeleteRole" asp-route-id="@item.Id" method="post">
                                @if ((await _authorizationService.AuthorizeAsync(User, null, "EditRolePolicy")).Succeeded)
                                {
                                  <a class="btn btn-outline-primary m-1" asp-action="EditRole" asp-controller="Administration" asp-route-id="@item.Id">Edit</a> 
                                } |
                                <span id="confirmDeleteSpan_@item.Id" style="display:none">
                                    <span> You sure about that!</span>
                                    <button type="submit" class="btn btn-outline-success">Yes </button>
                                    <a href="#" class="btn btn-outline-danger" onclick="confirmDelete('@item.Id', false)">No</a>
                                </span>
                                <span id="deleteSpan_@item.Id">
                                    <a href="#" class="btn btn-outline-danger m-1" onclick="confirmDelete('@item.Id',true)">Delete</a>
                                </span>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="card">
        <div class="card-header">
            No Roles Created Yet
        </div>
        <div class="card-body">
            <h5> use the link below to create a new role</h5>
        </div>
        <a class="btn btn-primary" asp-controller="Administration" asp-action="CreateRole"> Create Role</a>

    </div>

}
@section Scripts{
    <script src="~/js/site.js"></script>
}